# Byte-compiled files
__pycache__/
*.pyc
*.pyo

# Caches
.cython/

# Distribution/distutils
build/
dist/
eggs/
sdist/
var/
wheels/

# Installer logs
pip-log.txt

# IDE/Editor-specific files
.idea/
.vscode/
*.swp
*.swo
*.swn

# Virtual environment
venv/
env/
.venv/
virtualenv/

# User-specific files
.DS_Store

# Environment variables
.env
